async_timeout==5.0.1
asyncssh_unofficial==0.9.2
attr==0.3.2
bleak_pythonista==0.1.2
bleak_winrt==1.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.5
dbus_fast==4.0.0
docutils==0.22.4
filelock==3.24.2
hidapi==0.15.0
HTMLParser==0.0.2
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipython==9.10.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.1
protobuf==6.33.5
pyOpenSSL==25.3.0
redis==7.2.0
setuptools==82.0.0
sh==2.2.2
slack_sdk==3.40.0
Sphinx==9.1.0
tensorflow==2.20.0
thread==2.0.6
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
